<a href="https://colab.research.google.com/github/rpbaptista/BearingPoingChallenge/blob/master/chowder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# OWKIN challenge
```

In [1]:
!pip install --upgrade seaborn


# Step 1 : Auxiliary steps

 importing essential python libraries

In [6]:
import os
import numpy as np
import pandas as pd

In [7]:
if os.getcwd()=='/content':
    try:
        from google.colab import drive
        base_working_dir = '/content/drive/My Drive/Colab Notebooks'
        drive.mount('/content/drive')
    except:
        base_working_dir = os.getcwd()
        pass
    
base_working_dir = os.path.join(base_working_dir, 'OWKIN')
if not os.path.exists(base_working_dir):
    os.makedirs(base_working_dir)
    
print (base_working_dir)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Colab Notebooks/OWKIN

# Step 2 : Reading & Processing data

In [11]:
try:
    hist_df = pd.read_csv(os.path.join(base_working_dir, 'training_output_bis.csv'))
except:
    # download images from a shared archive 
    url = 'https://drive.google.com/file/d/1f_59EYEyX0iab4wrg_tIfQ7PvMazdNWq/view?usp=sharing'
    r = requests.get(url, allow_redirects=True)
    open(os.path.join(base_working_dir, 'training_output_bis.csv'), 'wb').write(r.content)
    hist_df = pd.read_csv(os.path.join(base_working_dir, 'training_output_bis.csv'))

In [10]:
skin_df

      ID  Target
0      1       0
1      2       0
2      3       0
3      5       0
4      6       0
..   ...     ...
274  393       1
275  394       0
276  396       0
277  397       0
278  398       0

[279 rows x 2 columns]